<ion-header>
  <ion-toolbar>
    <ion-title>registerOptions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="form-group">
   

  
        <a [routerLink]="[ '/register/register-dist' ]">
          <ion-chip>
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label>Distributor</ion-label>
          </ion-chip>
        </a><br>
    
        <a [routerLink]="[ '/register/register-hospital' ]">
          <ion-chip>
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label>Hospital</ion-label>
          </ion-chip>
        </a><br>
    
        <a [routerLink]="[ '/register/register-transporter' ]">
          <ion-chip>
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label>Transporter</ion-label>
          </ion-chip>
        </a><br>
    
        <a [routerLink]="[ '/register/register-sub-dist' ]">
          <ion-chip>
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label>SubDistributor</ion-label>
          </ion-chip>
        </a><br>
    
        <a [routerLink]="[ '/register/-raw-mat-stock' ]">
          <ion-chip>
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label>RawMaterialStocker</ion-label>
          </ion-chip>
        </a><br>
    
        <a [routerLink]="[ '/register/register-raw-mat-collector' ]">
          <ion-chip>
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label>RawMatCollector</ion-label>
          </ion-chip>
        </a><br>
    
        <a [routerLink]="[ '/register/register-pharma' ]">
          <ion-chip>
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label>Pharma</ion-label>
          </ion-chip>
        </a><br>
    
        <a [routerLink]="[ '/register/register-manufacturer' ]">
          <ion-chip>
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label>Manufacturer</ion-label>
          </ion-chip>
        </a><br>
    
        <a [routerLink]="[ '/register/register-fin-stock-manager' ]">
          <ion-chip>
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label>FinStockManager</ion-label>
          </ion-chip>
        </a><br>
        </div>
         
</ion-content>
