<ion-header>
  <ion-toolbar>
    <ion-title>loginOptions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="form-group">
   

  
    <a [routerLink]="[ '/login/login-dist' ]">
      <ion-chip>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>Distributor</ion-label>
      </ion-chip>
    </a><br>

    <a [routerLink]="[ '/login/login-hospital' ]">
      <ion-chip>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>Hospital</ion-label>
      </ion-chip>
    </a><br>

    <a [routerLink]="[ '/login/login-transporter' ]">
      <ion-chip>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>Transporter</ion-label>
      </ion-chip>
    </a><br>

    <a [routerLink]="[ '/login/login-sub-dist' ]">
      <ion-chip>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>SubDistributor</ion-label>
      </ion-chip>
    </a><br>

    <a [routerLink]="[ '/login/login-raw-mat-stock' ]">
      <ion-chip>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>RawMaterialStocker</ion-label>
      </ion-chip>
    </a><br>

    <a [routerLink]="[ '/login/login-raw-mat-collector' ]">
      <ion-chip>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>RawMatCollector</ion-label>
      </ion-chip>
    </a><br>

    <a [routerLink]="[ '/login/login-pharma' ]">
      <ion-chip>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>Pharma</ion-label>
      </ion-chip>
    </a><br>

    <a [routerLink]="[ '/login/login-manufacturer' ]">
      <ion-chip>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>Manufacturer</ion-label>
      </ion-chip>
    </a><br>

    <a [routerLink]="[ '/login/login-fin-stock-manager' ]">
      <ion-chip>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>FinStockManager</ion-label>
      </ion-chip>
    </a><br>
     
      
</div>
</ion-content>
